<!DOCTYPE html>
<html>
<head>
<title>Blog sur Django</title>
</head>
<body>
<header>
<h1><a href="/">Blog sur Django</a></h1>
</header>
<article>
<time>publié: 14.04.2022, 12:14</time>
<h2><a href="">Mon premier post</a></h2>
<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id
elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
nibh, ut fermentum massa justo sit amet risus.</p>
</article>
<article>
<time>publié: 14.04.2022, 12:14</time>
<h2><a href="">Mon second post</a></h2>
<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id
elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
nibh, ut f.</p>
</article>
<header>
<h1><a href=”/”>Le Blog Django</a></h1>
</header>
{% for post in posts %}
<article>
<time>published: {{ post.published_date }}</time>
<h2><a href=””>{{ post.title }}</a></h2>
<p>{{ post.text|linebreaksbr }}</p>
</article>
{% endfor %}
</body>
</html>